header{
    height: 100px;
}
.headercol1{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headercol1 input{
    height: 40px;
    border: 0px;
    border-bottom: 2px solid black;

}
.headercol2 .row1 div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headercol2 .row2 div{
    text-align: center;
}
.headercol2 .row2 div a{
    text-decoration: none;
    color: black;
}
.headercol2 .row2 div a:hover{
    color: red;
}
.headercol3 .col1{
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.headercol3 .col2 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headercol3 div div a{
    text-decoration: none;
}
.headercol3 div div a svg:hover{
   opacity: 0.6;
}
